﻿<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AdminDashboard/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/AdminDashboard/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/AdminDashboard/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/AdminDashboard/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/AdminDashboard/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/AdminDashboard/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/AdminDashboard/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/AdminDashboard/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/AdminDashboard/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
</head>
<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="@Url.Action("Index","Admin")">VERTEXCRAFT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">                        
                        
                        @Html.Partial("_LoginPartial")                        
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2" aria-controls="submenu-1-2">E-Commerce</a>
                                            <div id="submenu-1-2" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="index.html">E Commerce Dashboard</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="ecommerce-product.html">Product List</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="ecommerce-product-single.html">Product Single</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="ecommerce-product-checkout.html">Product Checkout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="dashboard-finance.html">Finance</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="dashboard-sales.html">Sales</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-1" aria-controls="submenu-1-1">Infulencer</a>
                                            <div id="submenu-1-1" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="dashboard-influencer.html">Influencer</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="influencer-finder.html">Influencer Finder</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="influencer-profile.html">Influencer Profile</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Category")">Catagoris</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Product")">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Banner")">Banner</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Role")">Role</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Account")">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","NewArrivals")">New Arrivals</a>
                            </li>

                            @*<li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>UI Elements</a>
            <div id="submenu-2" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/cards.html">Cards <span class="badge badge-secondary">New</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/general.html">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/carousel.html">Carousel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/listgroup.html">List Group</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/typography.html">Typography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/accordions.html">Accordions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/tabs.html">Tabs</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Chart</a>
            <div id="submenu-3" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/chart-c3.html">C3 Charts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/chart-chartist.html">Chartist Charts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/chart-charts.html">Chart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/chart-morris.html">Morris</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/chart-sparkline.html">Sparkline</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/chart-gauge.html">Guage</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Forms</a>
            <div id="submenu-4" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/form-elements.html">Form Elements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/form-validation.html">Parsely Validations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/multiselect.html">Multiselect</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/datepicker.html">Date Picker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/bootstrap-select.html">Bootstrap Select</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Tables</a>
            <div id="submenu-5" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/general-table.html">General Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/data-tables.html">Data Tables</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-divider">
            Features
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i> Pages </a>
            <div id="submenu-6" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/blank-page.html">Blank Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/blank-page-header.html">Blank Page Header</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/404-page.html">404 page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/sign-up.html">Sign up Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/forgot-password.html">Forgot Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/pricing.html">Pricing Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/timeline.html">Timeline</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/calendar.html">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/sortable-nestable-lists.html">Sortable/Nestable List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/widgets.html">Widgets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/media-object.html">Media Objects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/cropper-image.html">Cropper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/color-picker.html">Color Picker</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i>Apps <span class="badge badge-secondary">New</span></a>
            <div id="submenu-7" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/inbox.html">Inbox</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/email-details.html">Email Detail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/email-compose.html">Email Compose</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/message-chat.html">Message Chat</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-fw fa-columns"></i>Icons</a>
            <div id="submenu-8" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/icon-fontawesome.html">FontAwesome Icons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/icon-material.html">Material Icons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/icon-simple-lineicon.html">Simpleline Icon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/icon-themify.html">Themify Icon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/icon-flag.html">Flag Icons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/icon-weather.html">Weather Icon</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"><i class="fas fa-fw fa-map-marker-alt"></i>Maps</a>
            <div id="submenu-9" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/map-google.html">Google Maps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/map-vector.html">Vector Maps</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-10"><i class="fas fa-f fa-folder"></i>Menu Level</a>
            <div id="submenu-10" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Level 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-11" aria-controls="submenu-11">Level 2</a>
                        <div id="submenu-11" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Level 1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Level 2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Level 3</a>
                    </li>
                </ul>
            </div>
        </li>*@
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">E-commerce Dashboard Template </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © @DateTime.Now.Year Vertex Craft. All Rights Reserved.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="~/AdminDashboard/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/AdminDashboard/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/AdminDashboard/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/AdminDashboard/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    @*<script src="~/AdminDashboard/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>*@
    <!-- sparkline js -->
    <script src="~/AdminDashboard/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="~/AdminDashboard/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    
    @*<script src="~/AdminDashboard/assets/vendor/charts/morris-bundle/morris.js"></script>*@
    <!-- chart c3 js -->
    <script src="~/AdminDashboard/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/AdminDashboard/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/AdminDashboard/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="~/AdminDashboard/assets/libs/js/dashboard-ecommerce.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
</body>

</html>
