﻿@model VertexCraft.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<!-- banner -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>


    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @*@Url.Content("~/BannerImages/" + item.ImagePath)*@
        @{ int i = 0;}
        @foreach (var item in Model.BannerViewModels)
        {
            i++;
            var active = i == 1 ? "active" : "";
            <div class="item @active">
                <img src="@Url.Content("~/BannerImages/" + item.ImagePath)" alt="Los Angeles" style="width:100%;height:500px">
            </div>

        }

        @*<div class="item active">
                <img src="~/Content/theme/images/banner/banner-01.png" alt="Los Angeles" style="width:100%;height:500px">
            </div>

            <div class="item">
                <img src="~/Content/theme/images/banner/banner-02.png" alt="Chicago" style="width:100%;height:500px">
            </div>

            <div class="item">
                <img src="~/Content/theme/images/banner/banner-03.png" alt="New york" style="width:100%; height:500px">
            </div>*@
    </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<!-- //banner -->
<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="banner_bottom_agile_info_inner_w3ls">

            @foreach (var item in Model.NewArrivales)
            {
                <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                    <figure class="effect-roxy">
                        <img src="@Url.Content("~/NewArrivalImages/" + item.FilePath)" alt="" class="img-responsive" style="width:600px; height:300px; " />
                        <figcaption>
                            <h3>@item.Title</h3>
                            <p>New Arrivals</p>
                        </figcaption>
                    </figure>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--/grids-->
<div class="agile_last_double_sectionw3ls">
    @foreach (var item in Model.productNameDiscountViewModels)
    {
        <div class="col-md-6 multi-gd-img multi-gd-text ">
            <a href="@Url.Action("ProductDetails","Home", new { id = item.Id})">
                @if (item.FilePath != null)
                {
                    <img src="@Url.Content("~/ProductImage/" + item.FilePath)" alt=" ">
                    <h4><span>@item.Title @item.Discount% offer</span></h4>
                }
                else
                {
                    <img src="https://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg" alt="No Image Available" />
                    <h4><span>@item.Title @item.Discount% offer</span></h4>
                }

            </a>
        </div>
    }
    <div class="clearfix"></div>
</div>
<!--/grids-->
<!-- /new_arrivals -->
<div class="container">
    <div class="w3_agile_latest_arrivals">
        <h3 class="wthree_text_info">Featured <span>Arrivals</span></h3>
        @foreach (var item in Model.ProductFeatureArrivalsViewModels)
        {
            if (item.ImagePath != null)
            {
                <div class="col-md-3 product-men single">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="@Url.Content("~/ProductImage/" + item.ImagePath)" alt="" class="pro-image-front">
                            <img src="@Url.Content("~/ProductImage/" + item.ImagePath)" alt="" class="pro-image-back">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="@Url.Action("ProductDetails","Home", new { id = item.Id})" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4><a href="single.html">@item.Title</a></h4>
                            <div class="info-product-price">
                                <span class="item_price">@item.Price/-</span>
                                <del>BDT 250/-</del>
                            </div>

                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-3 product-men single">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="https://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg" alt="No Image Available" />
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="@Url.Action("ProductDetails","Home", new { id = item.Id})" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4><a href="single.html">@item.Title</a></h4>
                            <div class="info-product-price">
                                <span class="item_price">@item.Price/-</span>
                                <del>BDT 250/-</del>
                            </div>

                        </div>
                    </div>
                </div>
            }


        }

        <div class="clearfix"> </div>
        <!--//slider_owl-->
    </div>

</div>