﻿@model IEnumerable<VertexCraft.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "LeatherBags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>LEATHER <span>BAGS  </span></h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="index.html">Home</a><i>|</i></li>
                    <li>Product Name</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>

<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <!-- mens -->
        <div class="col-md-4 products-left">
            <div class="css-treeview">
                <h4>Categories</h4>
                <ul class="tree-list-pad">
                    
                    <li>
                        <input type="checkbox" id="item-0-0" /><label for="item-0-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Leather Bags</label>
                        <ul>
                            <li><a href="product.html">Leather promotional bags</a></li>
                            <li><a href="product.html">Leather Corporate Bags</a></li>
                        </ul>
                    </li>
                    <li>
                        <input type="checkbox" id="item-0-1" /><label for="item-0-1"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Product Title</label>
                        
                    </li>
                    <li>
                        <input type="checkbox" id="item-0-2" /><label for="item-0-2"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Product Title</label>
                        <ul>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                        </ul>
                    </li>
                    <li>
                        <input type="checkbox" id="item-0-3" /><label for="item-0-3"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Product Title</label>
                        <ul>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                        </ul>
                    </li>
                    <li>
                        <input type="checkbox" id="item-0-4" /><label for="item-0-4"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Product Title</label>
                        <ul>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                            <li><a href="product.html">Sub Product</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 products-right">          

            <div class="w3_agile_latest_arrivals">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 product-men single">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="@Url.Content("~/ProductImage/"+ item.ImagePath)" alt="" class="pro-image-front">
                                <img src="@Url.Content("~/ProductImage/"+ item.ImagePath)" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="@Url.Action("ProductDetails","Home", new {id = item.Id})" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                                <span class="product-new-top">New</span>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="single.html">@item.Title</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">BDT @item.Price/-</span>
                                    <del>BDT 250/-</del>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                <div class="clearfix"> </div>
                <!--//slider_owl-->
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>


    </div>
</div>
