﻿
@{
    ViewBag.Title = "MissionVission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>About <span>Us </span></h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="index.html">Home</a><i>|</i></li>
                    <li>About<i>|</i></li>
                    <li>Mission And Vission</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>
<!-- /banner_bottom_agile_info -->
<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile_ab_w3ls_info">
            <div class="col-md-12 ab_pic_w3ls_text_info">
                <h5>Mission</h5>
                <p>To be pioneer in achieving and maintaining Happy Bangladesh by promoting eco friendly product. Encouraging people to divert to nature by using jute made and eco products. Providing reliable Social Business Concept to the general people in a view to make skill and enrich human resources and serving the nation as a whole for its ultimate economic emancipation.</p>
            </div>
            
            <div class="col-md-12 ab_pic_w3ls_text_info">
                <h5>Vission</h5>
                <p>Promoting Jute diversified products to the global world and representing Bangladesh.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


