﻿
@{
    ViewBag.Title = "Ourprofile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>About <span>Us </span></h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="index.html">Home</a><i>|</i></li>
                    <li>About<i>|</i></li>
                    <li>Our Profile</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>
<!-- /banner_bottom_agile_info -->
<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile_ab_w3ls_info">
            <div class="col-md-12 ab_pic_w3ls_text_info">
                <h5>Profile <span> At a Glance </span> </h5>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td><code>Name of the Business Institute</code> </td>
                        <td><span class="badge">Vertex Craft</span></td>
                    </tr>
                    <tr>
                        <td><code>Types of Business </code></td>
                        <td><span class="badge badge-primary">Manufacturer, Supplier & Exporter</span></td>
                    </tr>
                    <tr>
                        <td><code>Year of Establishment</code></td>
                        <td><span class="badge badge-success">2012</span></td>
                    </tr>
                    <tr>
                        <td><code>Key Products</code></td>
                        <td><span class="badge badge-info"> Jute Diversified Products, Jute Fabrics, Handicrafts,Non Woven Bag</span></td>
                    </tr>
                    <tr>
                        <td><code>Production Capacity</code></td>
                        <td><span class="badge badge-warning">50000-100000 approximately per Month </span></td>
                    </tr>
                    <tr>
                        <td><code>Bank</code></td>
                        <td><span class="badge badge-danger">Dutch Bangla Bank</span></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

