﻿
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>About <span>Us </span></h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="index.html">Home</a><i>|</i></li>
                    <li>About<i>|</i></li>
                    <li>Overview</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>
<!-- /banner_bottom_agile_info -->
<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile_ab_w3ls_info">
            <div class="col-md-12 ab_pic_w3ls_text_info">
                <h5><span>Overview Our</span> Vertex Craft </h5>
                <p>
                    Vertex Craft, a quality Jute Fabrics, jute diversified products, Handicrafts and leather products manufacturer & exporter. We manufacture and supply all kind of custom designed bags for advertising, promotional purpose and marketing. We are providing superior value to our customers to getting their satisfaction since 2012. Vertex craft offered a variety range of eco friendly products such as Jute bags, Jute Fabrics, Jute cotton Fabrics and Jute and leather made Crafts in classic and contemporary style. Our factory has set up fully fledged manufacturing facilities at industrial area in Tarabo, Rupgonj, Narayangonj. Our factory is equipped with all the latest and modern technologies which enable to manufacture all kind of jute & leather made bags and crafts with standard quality. Quality is a very vital aspect in the manufacturing process. We maintain the highest standards of quality in stitching, designing and printing to provide you a very desirable product. We also know that packaging needs require more than just durability; the package is hence there to sell what’s inside. We work diligently to give you the most appropriate package for your product.
                </p>
                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

