﻿@model VertexCraft.ViewModel.ProductViewModel

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="banner-bootom-w3-agileits">
    <div class="container">
        <div class="col-md-4 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider">
                    
                    
                    <ul class="slides">
                        @foreach (var item in ViewBag.ProductImage)
                        {
                            if (item.ImagePath != null)
                            {
                                <li data-thumb="@Url.Content("~/ProductImage/" + item.ImagePath)">
                                    <div class="thumb-image"> <img src="@Url.Content("~/ProductImage/" + item.ImagePath)" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                            }
                            else
                            {
                                <img src="https://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg" alt="No Image Available" />
                               
                                @*<li data-thumb="https://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg">
                                    <div class="thumb-image"> <img src="https://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg" alt="No Image Available" /> </div>
                                </li>*@
                            }

                        }
                    </ul>
                    
                    
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3>@Model.Title</h3>
            <p><span class="item_price">Prize : BDT @Model.Price/-</span> <del>BDT 450/-</del></p>
            <p><span class="item_price">Contact for Purchase - </span> <strong>01688430821</strong></p>

            <ul class="social-nav model-3d-0 footer-social w3_agile_social single_page_w3ls">
                <li class="share">Share On : </li>
                <li>
                    <a href="#" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pinterest">
                        <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>

        </div>
        <div class="clearfix"> </div>
        <!-- /new_arrivals -->
        <div class="responsive_tabs_agileits">
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li>Product Description</li>
                </ul>
                <div class="resp-tabs-container">
                    <!--/tab_one-->
                    <div class="tab1">

                        <div class="single_page_agile_its_w3ls">
                            <p>
                                @Model.Description
                            </p>
                        
                            </div>
                    </div>
                    <!--//tab_one-->

                </div>
            </div>
        </div>
        <!-- //new_arrivals -->
        <!--/slider_owl-->

        <div class="w3_agile_latest_arrivals">
            <h3 class="wthree_text_info">Featured <span>Arrivals</span></h3>

            @foreach (var item in ViewBag.RelatedProduct)
            {
                if (item.ImagePath != null)
                {
                    <div class="col-md-3 product-men single">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="@Url.Content("~/ProductImage/" + item.ImagePath)" alt="" class="pro-image-front">
                                <img src="@Url.Content("~/ProductImage/" + item.ImagePath)" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="@Url.Action("ProductDetails","Home", new { id = item.Id})" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                                <span class="product-new-top">New</span>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="single.html">@item.Title</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">@item.Price/-</span>
                                    <del>BDT 250/-</del>
                                </div>

                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 product-men single">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="https://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg" alt="No Image Available" />
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="@Url.Action("ProductDetails","Home", new { id = item.Id})" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                                <span class="product-new-top">New</span>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="single.html">@item.Title</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">@item.Price/-</span>
                                    <del>BDT 250/-</del>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="clearfix"> </div>
        <!--//slider_owl-->
    </div>
</div>
