﻿@model VertexCraft.ViewModel.ProductImageViewModel

@{
    ViewBag.Title = "Pictures";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int sl = 1;
}

<script type="text/javascript">
    function Submit() {
        $("#SampleForm").submit();
        alert(respns)
    };

    function ProductReove(Id) {
        $('#myTable').DataTable({});

        $.ajax({
            url: "/Product/Remove/" + Id,
            type: "POST",
            success: function (respons) {
                window.location.reload();
            }
        })
    }

</script>



<h2>Pictures</h2>

@using (Html.BeginForm("Pictures", "Product", FormMethod.Post, new { enctype = "multipart/form-data", Id = "SampleForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Image" name="Image" class="form-control" accept=".jpg, .png, .gif" />
                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("You Can't Upload More Than 5 Pictures")
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ProductId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" onclick="Submit()" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="card">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>SL</td>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ImageList)
                {
                    <tr>
                        <td>@(sl++)</td>
                        <td><img src="@Url.Content("~/ProductImage/" + item.ImagePath)" style="height: 80px; width: 80px;" /></td>
                        <td>
                            <button type="button" onclick="ProductReove(@item.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

</div>
