﻿@model IEnumerable<VertexCraft.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- recent orders  -->
    <!-- ============================================================== -->
    <div class="col-xl- col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Recent Orders</h5>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">@Html.DisplayNameFor(model => model.Name)</th>
                                <th class="border-0"> @Html.DisplayNameFor(model => model.CatId)</th>
                                <th class="border-0">Action</th>
                   
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Cat.Name)</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-success" }) 
                                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                        @if (item.Id == item.CatId)
                                        {
                                            @Html.ActionLink("Remove", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Remove", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                                        }

                                    </td>
                                    
                                </tr>

                            }
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

